<%- include('navbar.ejs') %>

 <div class="container p-5" id="menu">
        <div class="row">
            <div class="col-md-12 shadow-lg p-3">
                <form action="/admin/update_menu" method="post" enctype="multipart/form-data">
                <div class="row ">
                    <h3 class="mb-4">Update Menu</h3>
                   <div class="col-md-3">
                    <input type="hidden" value="<%-result[0].id%>" name="id">

                            <label for="menu_name" class="form-label">Menu Name</label>
                            <input type="text" name="menu_name" id="menu_name" class="form-control" required value="<%-result[0].menu_name%>">
                        </div>

                        <div class="col-md-3">
                            <label for="price" class="form-label">Price (₹)</label>
                            <input type="number" name="price" id="price" class="form-control" required value="<%-result[0].menu_price%>">
                        </div>

                        <div class="col-md-3">
                            <label for="image" class="form-label">Upload Image</label>
                            <input type="file" name="image" id="image" class="form-control"required>
                            <img src="/images/<%-result[0].menu_image%>" width="130px" style="margin: 10px;">
                        </div>

                        <div class="col-md-3">
                            <label for="type" class="form-label">Select Type</label>
                            <select name="type" id="type" class="form-select" required>
                                <option value="">--Select Type--</option>
                                <% for(var i = 0; i< result2.length; i++) { %>
                                    <option value="<%= result2[i].type_id %>"><%= result2[i].type_name %></option>
                                <% } %>
                            </select>
                        </div>
                         <div class="col-md-12 mt-3 text-start">
                            <label for="image" class="form-label">Enter Description Image</label>
                            <textarea  name="menu_desc"  id="editor" class="form-control" ><%-result[0].menu_desc%></textarea>
                        </div>
                </div>
                <div class="row mt-4">
                   <div class="mt-4 text-end">
                        <button type="submit" class="btn btn-success px-4">Save</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

    </div>
    <%-include('footer.ejs')%>