<%-include('navbar.ejs')%>
<div class="container mt-5">
  <h2 class="text-center mb-4">All Banners</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover align-middle shadow-sm">
      <thead class="table-success text-center">
        <tr>
          <th>Action</th>
          <th>Sr No</th>
          <th>Title</th>
          <th>Description</th>
          <th>Price</th>
          <th>Part Name</th>
          <th>Sub Name</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 0; i < result.length; i++) { %>
          <tr class="text-center">
            <td width="100px">
              <a href="/admin/edit_product/<%- result[i].product_id %>" class="btn btn-outline-primary btn-sm me-2 shadow-sm" title="Edit">
                <i class="bi bi-pencil-fill"></i>
              </a>
              <a href="/admin/delete_product/<%- result[i].product_id %>" class="btn btn-outline-danger btn-sm shadow-sm" title="Delete">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
            <td><%- i + 1 %></td>
            <td><%- result[i].product_name %></td>
            <td width="400px"><%- result[i].product_description %></td>
            <td><%- result[i].product_price %></td>
            <td><%- result[i].product_part_type %></td>
            <td><%- result[i].product_sub_part %></td>
            <td>
              <!-- <img src="/banner/<%-result[i].banner_image%>" alt=""> -->
              <img src="/product/<%-result[i].product_image%>" width="100" height="100" class="rounded shadow-sm">
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<!-- Pagination -->
<nav aria-label="Page navigation" class="mt-4">
  <ul class="pagination justify-content-center">
    <!-- Previous button -->
   <!-- Previous -->
<li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
  <a class="page-link" href="/admin/all_parts?page=<%= currentPage - 1 %>">Previous</a>
</li>

<!-- Pages -->
<% for (let i = 1; i <= totalPages; i++) { %>
  <li class="page-item <%= currentPage === i ? 'active' : '' %>">
    <a class="page-link" href="/admin/all_parts?page=<%= i %>"><%= i %></a>
  </li>
<% } %>

<!-- Next -->
<li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
  <a class="page-link" href="/admin/all_parts?page=<%= currentPage + 1 %>">Next</a>
</li>

  </ul>
</nav>

<%-include('footer.ejs')%>
