<%-include('navbar.ejs')%>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card p-4">
                    <h4 class="mb-3">Shipping Information</h4>
                    <form action="/checkout" method="post">
                        <div class="row g-3 mb-2">
                            <div class="col-md-6">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control" name="fullname" placeholder="Your name"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Phone</label>
                                <input type="number" class="form-control" name="mobile" placeholder="Mobile number"
                                    required maxlength="10">
                            </div>
                        </div>

                        <div class="row g-3 mb-2">
                            <div class="col-md-6">
                                <label class="form-label">Pincode</label>
                                <input type="text" class="form-control" name="pincode" placeholder="Pincode"
                                    onkeyup="searchArea()" id="pincode" required maxlength="6">
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Country</label>
                                <input type="text" class="form-control" name="country" placeholder="Enter Your Country"
                                    id="country" required>
                            </div>
                        </div>

                        <div class="row g-3 mb-2">
                            <div class="col-md-6">
                                <label class="form-label">State</label>
                                <input type="text" class="form-control" name="state" placeholder="Enter Your State"
                                    id="state" required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">City</label>
                                <input type="text" class="form-control" name="city" placeholder="City" id="city"
                                    required>
                            </div>
                        </div>

                        <div class="row g-3 mb-2">
                            <div class="col-md-6">
                                <label class="form-label">Area</label>
                                <input type="text" class="form-control" name="area" placeholder="Area" id="area"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Payment Mode</label>
                                <select class="form-select" name="payment_mode" required>
                                    <!-- <option selected disabled>-- Select Payment Mode --</option> -->
                                    <option value="Online">Online</option>
                                    <option value="Card">Card</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Address</label>
                            <textarea class="form-control" name="address" rows="2" placeholder="Full Address"
                                required></textarea>
                        </div>

                        <div class="mb-0">
                            <button type="submit" class="btn btn-primary btn-lg w-100">Place Order</button>
                        </div>
                        <input type="hidden" name="product_total" value="<%= total %>">
                        <% for(var i=0;i<result.length;i++){ %>
                            <input type="hidden" name="product_id" value="<%- result[i].product_id %>">
                            <input type="hidden" name="qty" value="<%- result[i].quantity %>">
                            <%}%>
                    </form>

                </div>
            </div>

            <div class="col-md-6">
                <div class="card p-4">
                    <h4 class="mb-3">Product Summary</h4>

                    <!-- Products Loop -->
                    <% for(var i=0;i<result.length;i++){ %>

                        <div class="d-flex mb-3 border-bottom pb-2">
                            <img src="/product/<%-result[i].product_image%>" class="me-3 rounded" alt="Product"
                                width="120px" height="120px">
                            <div class="flex-grow-1">
                                <h5 class="mb-2 fw-semibold">
                                    <%= result[i].product_name %>
                                </h5>
                                <p class="mb-1">Qty:<%= result[i].quantity %>
                                </p>
                                <p class="mb-1">Price: &#8377;<%= result[i].product_price %>/-</p>
                            </div>
                        </div>
                        <% } %>

                            <!-- Total -->
                            <div class="mt-3">
                                <p class="d-flex justify-content-between"><span>Tax :</span>
                                    <span> 0 /-</span>
                                </p>
                                <p class="d-flex justify-content-between"><span>Shipping:</span>
                                    <span>&#8377; Free/-</span>
                                </p>
                                <p class="d-flex justify-content-between"><span>Product Price:</span><span>
                                        <%= total %>/-
                                    </span></p>
                                <hr>
                                <p class="d-flex justify-content-between fw-bold">
                                    <span>Grand Total:</span>
                                    <span>&#8377;<%= total %>/-</span>
                                </p>
                            </div>
                </div>
            </div>


        </div>
    </div>
    <br>
    <br>

    <%-include('footer.ejs')%>